{% extends "base.html" %}
{% block title %} ViscoPredict {% endblock %}
{% block content %}
<body>

    <div style="color: #19283f;padding: 20px;border-radius: 10px;margin-left:140px ;max-width: 600px;">
      <h3>Prédiction de la viscosité utilisant ANN</h3>
    </div>
    <div class="container-wrapper">
        <div class="container_TOP_LEFT">
          <div class="class1">
            <h3 style="color: rgb(5, 116, 242);text-align: center;"> Inseré les Paramètres du fonctionnement:</h3>
            <form class="form-group" action="/ann" method="POST">
              <label for="Shear stress">σ: Shear stress (100 à 980 )</label> 
              <input type="text" name="a" style="background-color: rgb(255, 255, 255);">
              <label for="Temperature">T: Temperature (75°C à 85°C )</label>
              <input  type="text" name="b" style="background-color: rgb(255, 255, 255);">
              <label for="Solid content">SC: Solid content (31% à 35%)</label>
              <input  type="text" name="c" style="background-color: rgb(255, 255, 255);">
              <div class="centrer">
                <div class="champ">
                    <label for="d">Optimisateur du modèl:</label>
                    <select class="form-control" name="Optimizer">
                      <option style="color: rgb(133, 135, 135);">Options</option>
                      <option value="Adam">Adam</option>
                      <option value="SGD">SGD</option>
                    </select>
                </div>
              </div>
              <div class="centrer">
                <div class="champ">
                    <label for="e">Nombre des neurones:</label>
                    <input  type="text" name="neurons" style="background-color: rgb(255, 255, 255);">
                </div>
              </div>
              <div class="centrer">
                <div class="champ">
                    <label for="f">Fonction d'activation: :</label>
                    <select class="form-control" name="fonction">
                      <option  style="color: rgb(133, 135, 135);">Options</option>
                      <option value="relu">relu</option>
                      <option value="sigmoid">sigmoid</option>
                      <option value="tanh">tanh</option>
                    </select>
                </div>
              </div>
              <br><br>
              <button class="btn btn-dark" type="submit" name="submit">Predict</button><br>
            </form><br>
          </div>
        </div>
    
        <div class="container_TOP_RIGHT_ann">
          <div class="class2">
            <h3 style="color: rgb(5, 116, 242);text-align: center;"> Résultats:</h3>
            <label for="viscosité" style="color: rgb(0, 0, 0);">viscosité prédite:</label>
            <div  style="text-align: center; background-color: rgb(244, 244, 244);color: black;width: 40%;height: 30px; margin: auto;border: 1px solid black;">{{pred}}</div>
            <label for="rmse" style="color: rgb(0, 0, 0);"> RMSE:</label>
            <div  style="text-align: center; background-color: rgb(250, 250, 250);color: black;width: 40%;height: 30px; margin: auto;border: 1px solid black;">{{rmse}}</div>
            <label for="mae" style="color: rgb(0, 0, 0);"> MAE:</label>
            <div  style="text-align: center; background-color: rgb(255, 255, 255);color: black;width: 40%;height: 30px; margin: auto;border: 1px solid black;">{{mae}}</div>
          </div>
        </div>
    </div>

</body>
{% endblock %}