{% extends "base.html" %}
{% block title %} ViscoPredict {% endblock %}
{% block content %}
<body>
    <div class="my-0 font-weight-normal" style="text-align: center; font: 1em sans-serif; font-size: large;color: white;" >Apropos</div>
    <div class="container">
      <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
          <div class="card-header">
              <h4 class="my-0 font-weight-normal">regression polynomial</h4>
          </div>
          <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                  <li>La régression polynomiale est une technique statistique qui permet de modéliser des relations complexes entre variables. Contrairement à la régression linéaire, elle prend en compte des relations non linéaires en utilisant des polynômes de degré supérieur. Cela offre une flexibilité accrue pour s'adapter à des données présentant des tendances plus complexes. Il est essentiel de choisir judicieusement le degré du polynôme pour éviter le surajustement. La régression polynomiale est largement utilisée dans divers domaines tels que l'économie, la biologie et l'ingénierie pour analyser et prédire des modèles de données plus complexes.
                  </li>
              </ul>
          </div>
          </div>
          <div class="card mb-4 shadow-sm">
          <div class="card-header">
              <h4 class="my-0 font-weight-normal">ANN</h4>
          </div>
          <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
              <li>Les Réseaux de Neurones Artificiels (RNA), ou ANN, sont des modèles inspirés du cerveau humain utilisés en intelligence artificielle. Composés de neurones interconnectés, ces réseaux apprennent à résoudre des problèmes complexes tels que la classification d'images. Adaptatifs et puissants, les ANN trouvent des applications dans divers domaines, de la reconnaissance vocale à la recommandation de produits.</li>
              </ul>
          </div>
          </div>
  </div>
  </div>
</body>
{% endblock %}