<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Réacteur d'attaque de la prduction d'acide phosphorique</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <li><p>Bienvenue sur notre site dédié à l'innovation dans la production d'acide phosphorique ! Notre réacteur d'attaque 
                    révolutionnaire redéfinit les normes de l'industrie en matière de performance et d'efficacité. </p>
                <p>Grâce à des technologies de pointe, nous sommes fiers de présenter une solution intégrée pour la production d'acide 
                    phosphorique, assurant une qualité exceptionnelle tout en minimisant l'impact environnemental.</p>
                <p>Dans le cadre de notre engagement envers l'excellence, nous introduisons également une approche novatrice pour 
                    la prévision de la viscosité dynamique de la bouillie. Notre système utilise des techniques avancées de machine 
                    learning pour analyser et prédire avec précision la viscosité, permettant ainsi un contrôle optimal du processus 
                    de production. Cette avancée technologique non seulement améliore l'efficacité opérationnelle, mais contribue
                     également à la durabilité globale de notre processus de fabrication.</p>
                <p>Explorez notre site pour en savoir plus sur notre réacteur d'attaque révolutionnaire et découvrez comment notre 
                    utilisation intelligente de l'apprentissage automatique transforme la manière dont nous anticipons et gérons la
                     viscosité dynamique de la bouillie. Nous sommes fiers de façonner l'avenir de l'industrie de l'acide phosphorique
                      avec des solutions innovantes et respectueuses de l'environnement.</p>
                </li>
            </ul>
        </div>
        <div class="card-header">
            <p>Vous pouvez tester les modèles ici:</p>
            <div >
                <button class="btn btn-primary rounded-pill main-btn" onclick="window.location.href='/ann';" style="margin-right: 60px;">Réseau des neurons</button>
                <button class="btn btn-primary rounded-pill main-btn" onclick="window.location.href='/Régression';" style="margin-bottom: 10px;">Régression polynomiale</button>
            </div>
        </div>
        </div>
       
    </div>
</div>
